@font-face {
    font-family: 'Hedvig';
    src: url('/assets/fonts/Hedvig/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/assets/imgs/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Hedvig', serif;
    color: red;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.inventory-table-styles {
    
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    color: white;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    25% {
        transform: translateY(-150%);
        opacity: 0.25;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0.5;
    }
    75% {
        transform: translateY(-50%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.inventory-table-styles th,
.inventory-table-styles td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}

.inventory-table-styles th {
    background-color: #3523b8;
    
}

.inventory-table-styles tr:hover {
    background-color: black;
    color: white;
}

.product-form-styles {
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    color: white;
    background-color: black;
    outline: none;
}


button {
    margin: 1% 0%;
    background-color: #3523b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: #0056b3;
}

button::first-letter{
    font-size: 1.25em;
}

.btn-delete {
    color: red;
}

.btn-edit {
    color: green;
    
}
